h1{vestidos la perla
 font-style: italic;
color:aqua;
text-aling:center;
font-family:"Lucida Handwriting";
}
h2{informacion de nuestra tienda
font-family:"Rockwell";	
color:cornflowerblue;
text-aling:center;
}

h2{informacion de nuestros productos
    font-family:"Rockwell";	
    color:cornflowerblue;
    text-aling:center;
}

h3{vestidos casuales
    font-family:Rockwell ;
    color:dodgerblue;
    font-weight:bold;
}
h3{vestidos de noche largos
    font-family:Rockwell ;
    color:dodgerblue;
    font-weight:bold;
}
h3{vestidos de noche cortos
    font-family:Rockwell ;
    color:dodgerblue;
    font-weight:bold;
}

